/* Self-hosted, Latin subset, SIL OFL 1.1 (see ASSETS_LICENSE.md, "Editor fonts"). No remote fetch. */
@font-face {
  font-family: 'Pixelify Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url('./fonts/pixelify-sans-latin-600-normal.woff2') format('woff2');
}
@font-face {
  font-family: 'Pixelify Sans';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url('./fonts/pixelify-sans-latin-700-normal.woff2') format('woff2');
}
@font-face {
  font-family: 'Figtree';
  font-style: normal;
  font-display: swap;
  font-weight: 500;
  src: url('./fonts/figtree-latin-500-normal.woff2') format('woff2');
}
@font-face {
  font-family: 'Figtree';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url('./fonts/figtree-latin-600-normal.woff2') format('woff2');
}
@font-face {
  font-family: 'Figtree';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src: url('./fonts/figtree-latin-700-normal.woff2') format('woff2');
}
@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url('./fonts/jetbrains-mono-latin-400-normal.woff2') format('woff2');
}
@font-face {
  font-family: 'JetBrains Mono';
  font-style: normal;
  font-display: swap;
  font-weight: 600;
  src: url('./fonts/jetbrains-mono-latin-600-normal.woff2') format('woff2');
}
